<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
    <div class="Div-header-pages">
        <a href="/home">
            <h1>Home</h1>
        </a>
        <a href="/realTimeProducts">
            <h3>RealTimeProducts</h3>
        </a>
        <a href="/products">
            <h3>Products</h3>
        </a>
        <a href="/carts">
            <h3>Carts</h3>
        </a>
    </div>
    <div class="Div-header-user" >
          <a href="/register">
        <h3>register</h3>
        </a>
        <a href="/login">
        <h1>Login</h1>
        </a>
    </div>
</header>
    <main>
        {{{body}}}
    </main>
</body>

</html>